@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#display_color {
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

label {
  align-self: center;
  padding-left: 2rem;
}

input {
}

#color_selector {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: min-content;
  justify-content: space-around;
  height: 400px;
  padding: 2rem;
  border: 2px solid black;
}
form {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
form,
label,
div {
  font-family: "Montserrat", sans-serif;
}

/**************color wheel*************/
body {
  margin: 1rem;
  margin-top: 3rem;
}
#displayColors {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  margin-top: 2rem;
}

.colorBox {
  height: 200px;
  width: 100%;
  margin-bottom: 1rem;
}
#color1,
#color2,
#color3,
#color4,
#color5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#color1 .colorBox {
  background-color: beige;
}
#color2 .colorBox {
  background-color: black;
}
#color3 .colorBox {
  background-color: blue;
}
#color4 .colorBox {
  background-color: green;
}
#color5 .colorBox {
  background-color: yellow;
}
